# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'.editor':
  'home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
  'pageup': 'core:page-up'
  'pagedown': 'core:page-down'

'.platform-darwin .editor':
  'ctrl-b': 'core:move-left'
  'alt-cmd-b': 'git-blame:toggle'

'.platform-linux .editor':
  'ctrl-b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-alt-shift-b': 'git-blame:toggle'

'.platform-linux':
  'ctrl-left': 'editor:move-to-first-character-of-line'
  'ctrl-right': 'editor:move-to-end-of-line'
  'ctrl-up': 'core:move-to-top'
  'ctrl-down': 'core:move-to-bottom'
