'BriteCore':
  'title': 'BriteCore'
  'paths': [
    '/Users/scottblevins/Sites/britecore'
  ]
'DotFiles':
  'title': 'DotFiles'
  'paths': [
    '/Users/scottblevins/repos/DotFiles'
  ]
'DevOps':
  'title': 'DevOps'
  'paths': [
    '/Users/scottblevins/github/DevOps'
  ]
'Go-IWS':
  'title': 'Go-IWS'
  'paths': [
    '/Users/scottblevins/Documents/go-zone/src/github.com/IntuitiveWebSolutions/go-iws'
  ]
'Britecore-Up':
  'title': 'Britecore-Up'
  'paths': [
    '/Users/scottblevins/repos/BriteCore-Up'
  ]
'debugger-lines':
  'title': 'debugger-lines'
  'paths': [
    '/Users/benhayden/github/debugger-lines'
  ]
