'BriteCore':
  'title': 'BriteCore'
  'paths': [
    '/Users/scottblevins/Sites/britecore'
  ]
'Impression':
  'title': 'Impression'
  'paths': [
    '/Users/scottblevins/repos/impression'
  ]
'BriteIdeas':
  'title': 'BriteIdeas'
  'paths': [
    '/Users/scottblevins/repos/BriteIdeas'
  ]
'PyBambooHR':
  'title': 'PyBambooHR'
  'paths': [
    '/Users/scottblevins/repos/PyBambooHR'
  ]
'Bar Fly':
  'title': 'Bar Fly'
  'paths': [
    '/Users/scottblevins/repos/AdManager'
  ]
